In [5]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.13.2-py3-none-any.whl (1.1 MB)
Requirement already satisfied: packaging in c:\users\hp pavilion\anaconda3\lib\site-packages (from geopandas) (21.0)
Collecting fiona>=1.8.19
  Downloading Fiona-1.9.4.post1-cp39-cp39-win_amd64.whl (22.7 MB)
Collecting pyproj>=3.0.1
  Downloading pyproj-3.5.0-cp39-cp39-win_amd64.whl (5.1 MB)
Requirement already satisfied: pandas>=1.1.0 in c:\users\hp pavilion\anaconda3\lib\site-packages (from geopandas) (1.3.4)
Collecting shapely>=1.7.1
  Downloading shapely-2.0.1-cp39-cp39-win_amd64.whl (1.4 MB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp pavilion\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (21.2.0)
Requirement already satisfied: six in c:\users\hp pavilion\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: importlib-metadata in c:\users\hp pavilion\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (4.8.1)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in c:\users\hp pavilion\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (2021.10.8)
Requirement already satisfied: click~=8.0 in c:\users\hp pavilion\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (8.0.3)
Requirement already satisfied: colorama in c:\users\hp pavilion\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.19->geopandas) (0.4.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp pavilion\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp pavilion\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp pavilion\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (2021.3)
Requirement already satisfied: zipp>=0.5 in c:\users\hp pavilion\anaconda3\lib\site-packages (from importlib-metadata->fiona>=1.8.19->geopandas) (3.6.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\hp pavilion\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.4)
Installing collected packages: cligj, click-plugins, shapely, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.4.post1 geopandas-0.13.2 pyproj-3.5.0 shapely-2.0.1

In [6]:
import pandas as pd
import geopandas as gpd
import numpy as np
from sklearn.cluster import AgglomerativeClustering
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
%matplotlib inline

In [16]:
import pandas as pd

# Define the file path
file_path = r'C:\Users\HP PAVILION\Downloads\AML\PBA2\pba2\UFO-1149_1668507688.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path, encoding='utf-8').dropna()

df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8831,-97.9411
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783,-96.6458
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4181,-157.8036
5,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950,-82.1889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.4083

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66517 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              66517 non-null  object
 1   city                  66517 non-null  object
 2   state                 66517 non-null  object
 3   country               66517 non-null  object
 4   shape                 66517 non-null  object
 5   duration (seconds)    66517 non-null  float64
 6   duration (hours/min)  66517 non-null  object
 7   comments              66517 non-null  object
 8   date posted           66517 non-null  object
 9   latitude              66517 non-null  float64
 10  longitude             66517 non-null  float64
dtypes: float64(3), object(8)
memory usage: 6.1+ MB